
**/*.rpt*
**/*.log*
**/*.syn*
**/*.mr*
**/*.nl.v*
**/*.svf*
**/*.sdc*
**/*.result*
**/*.results*
**/*.report*
**/*.vcd*
**/*.wlf
**/transcript*
**/wlft*
**/*errors*
**/*output*
**/*.nfs*
**/*.qdb*
**/*.qdg*
**/*.qpt*
**/*work/
**/rom*/
**/*.ini
**/*_vmake*
**/alib-52/
**/reports/
**/log
**/*.asv
**/*.alib
**/log*
**/misc/
