CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.o
*.rpt
*.log
*.full
*.output
*.regs
*.fast_path
*.sdc
*.sdf
*~
*.alib
*.svf
*.txt
*.pdf
